body {
    width: 50%;
    margin: auto;
    font-weight: normal;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 32pt;
    background-color: lightblue;
}

h1 {
    font-size: 1.5em;
}

ul li {
    padding: .1em;
    font-size: 1em;
}